<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TrelloSettings" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>

  <TrelloSettings>
    <Configs>
      <ConfigurationGroup name="settings">
       
        <Collections>
          <Collection name="EwsSettings">
            <ValueItems>
              <ValueItem key="UserEmailAddress" value="test.email@address.com"/>
              <ValueItem key="Password" value="myPassword"/>
            </ValueItems>
          </Collection>
          
          <Collection name="TrelloSettings">
            <ValueItems>
              <ValueItem key="Key" value="secretTrelloAPIKey"/>
              <ValueItem key="ApiAppToken" value="TokenForAccessTrelloApi"/>
              <ValueItem key="ApiAppName" value="NameofApiAppToken"/>
              <ValueItem key="BoardId" value="IDofBoardToTalkTo"/>
              <ValueItem key="BoardName" value="NameofBoardToTalkTo"/>
              <ValueItem key="ListId" value="IdofListInBoardToTalTo"/>
              <ValueItem key="ListName" value="NameofListInBoardToTalTo"/>
              <ValueItem key="BoardForwardingEmailAddress" value="test.email@trello.com"/>
            </ValueItems>
          </Collection>

          <Collection name="SlackSettings">
            <ValueItems>
              <ValueItem key="SupportChannelId" value="SlackChannelIdToPostTo"/>
            </ValueItems>
          </Collection>
          
        </Collections>
        
      </ConfigurationGroup>
    </Configs>
  </TrelloSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>